body {
    font-family: 'Open Sans', sans-serif;
}
.breadcrumb-item {
    font-size: 0.8em !important;
}
.ellipsis {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.board-table {
    table-layout: fixed;
}
.board-table .author,
.board-table .date {
    width: 100px;
}

.board-body,
.comment-text {
    white-space: pre-line;
}
.board-info {
    font-size: 0.8em;
}

.user-form {
    width: 400px;
}

.board-index-tool {
    max-width: 450px;
}
.board-index-tool input[type='text'] {
    max-width: 130px;
}

.highlighted {
    background-color: yellow;
}

.comment-edit,
.comment-reply,
.comment-edit-enabled .comment-show {
    display: none;
}

.comment-edit-enabled .comment-edit,
.comment-reply-enabled .comment-reply {
    display: inherit;
}

/* Form Styles modal contact */
.form-control {
    border-radius: 20px !important;
}

.form-control:focus {
    border: 1px solid #9933cc !important;
    box-shadow: none !important;
}

::placeholder {
    font-size: 0.85rem !important;
    opacity: 0.5 !important;
}
