/* publish/css/master.css */

.comment-edit,
.comment-edit-enabled .comment-show {
    display: none;
}

.comment-edit-enabled .comment-edit {
    display: inherit;
}

/* public/css/master.css */

.post-body,
.comment-text {
    white-space: pre-line;
}

/* public/css/master.css */

.highlighted {
    background-color: yellow;
}

/* public/css/master.css */

.post-index-tool {
    max-width: 450px;
}
.post-index-tool input[type='text'] {
    max-width: 130px;
}

/* public/css/master.css */

.user-form {
    width: 400px;
}

.board-table {
    table-layout: fixed;
}
.board-table .author,
.board-table .date {
    width: 100px;
}

/* adds some margin below the link sets  */
/* .navbar .dropdown-menu div[class*="col"] {
    margin-bottom: 1rem;
}

.navbar .dropdown-menu {
    border: none;
    background-color: #0060c8 !important;
} */

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
    /* remove the padding from the navbar so the dropdown hover state is not broken */
    .navbar {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
    .navbar .nav-item {
        padding: 0.5rem 0.5rem;
        margin: 0 0.25rem;
    }

    /* makes the dropdown full width  */
    /* .navbar .dropdown {
        position: static;
    } */

    .navbar .dropdown-menu {
        width: 100%;
        left: 0;
        right: 0;
        /*  height of nav-item  */
        top: 45px;

        display: block;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s linear;
    }

    /* shows the dropdown menu on hover */
    .navbar .dropdown:hover .dropdown-menu,
    .navbar .dropdown .dropdown-menu:hover {
        display: block;
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.3s linear;
    }

    .navbar .dropdown-menu {
        border: 1px solid rgba(0, 0, 0, 0.15);
        background-color: #fff;
    }
}

/* Form Styles modal contact */
.form-control {
    border-radius: 20px !important;
}

.form-control:focus {
    border: 1px solid #9933cc !important;
    box-shadow: none !important;
}

::placeholder {
    font-size: 0.85rem !important;
    opacity: 0.5 !important;
}
