<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') -%>
    </head>
    <body>
        <%- include('../partials/nav') -%>
        <table class="board-table table table-sm border-bottom">
            <thead>
                <tr>
                    <th scope="col" class="numId">#</th>
                    <th>제목</th>
                    <th>조회수</th>
                    <th>글쓴이</th>
                    <th>날짜</th>
                </tr>
            </thead>
        </table>
    </body>
</html>
