<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head')%>
    </head>
    <body>
        <%- include('../partials/nav')%>
        <div class="container mb-3">
            <h3 class="contentBoxTop"><%= user.username%></h3>
            <form action="/users" method="post" class="user-form"></form>
        </div>
    </body>
</html>
